[app]
BACKEND_CORS_ORIGINS=http://localhost,http://localhost:8000
LOG_LEVEL=DEBUG
TIMEZONE=America/Sao_Paulo
ENVIRONMENT=local
POLYGON_API_KEY=changethis
SECRET_KEY=changethis

[database]
POSTGRES_USER=changethis
POSTGRES_PASSWORD=changethis
POSTGRES_DB=financial
POSTGRES_PORT=5432
POSTGRES_HOST=changethis
DB_DEBUG=1

[cache]
REDIS_DB=0
REDIS_HOST=changethis
REDIS_PORT=6379
